<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Authenticate Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
    <script src="main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <%if(!user){%>
            <li><a href="/auth/login">Login</a></li>
            <%}else{%>
            <li><a href="/auth/logout">Logout</a></li>
            <%}%>
        </ul>
    </nav>
    <header>
        <h1>QuocMP</h1>
        <h2>Login</h2>
    </header>
    <main>
        <a href="/auth/google" class="google-btn">Google+</a>
    </main>
</body>
</html>